<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/jquery.min.js"></script>
    <link rel="stylesheet" href="/common.css">
</head>
<body>
<script>
	alert('hello koa');
</script>
<h1><%= title %></h1>
<p>EJS Welcome to <%= title %></p>
<img src="/post-bg-desk.jpg" alt="">

</body>
</html>